/* Main */

/* Section 2 - Features */
.section-features {
  padding-top: var(--padding-section-mobile);
  padding-bottom: var(--padding-section-mobile);
}

.feature-card {
  min-width: 288px;
  max-width: 356px;
  width: 100%;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: var(--gap-mobile);
}

.feature-icon-container {
  display: none;
  align-items: center;
  justify-content: center;
  height: 112px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--lightslate);
  background-color: var(--cloud);
  margin-bottom: 8px;
}

.feature-icon {
  flex-shrink: 0;
}

.feature-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 8px;
}

.feature-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* Section 3 - Team */
.section-team {
  background-color: var(--cloud);
  padding-top: var(--padding-section-mobile);
  padding-bottom: var(--padding-section-mobile);
}

.section-team-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--navyblue);
  text-transform: capitalize;
  margin-bottom: var(--gap-mobile);
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: var(--gap-mobile);
}

.team-card {
  min-width: 264px;
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-card-label {
  padding: 32px 0px;
  width: 100%;
}

.team-card img {
  width: 264px;
  height: 260px;
}

.team-card-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  text-align: center;
  margin-bottom: 8px;
}

.team-card-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--slate);
  margin-bottom: 8px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  column-gap: 24px;
  flex-shrink: 0;
  padding: 0px 16px 0px 16px;
}

.social-icon-container {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--ocean);
}

.social-icon {
  fill: var(--cloud);
}

/* Section Portfolio */
.section-portfolio {
  background-color: var(--white);
  padding-top: var(--padding-section-mobile);
  padding-bottom: var(--padding-section-mobile);
}

.section-portfolio-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--navyblue);
  margin-bottom: var(--gap-mobile);
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-overlay-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-card {
  min-width: 288px;
  width: 100%;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-item-label {
  border: 1px solid var(--cornflower);
  border-top: none;
  padding: 32px 16px;
}

.portfolio-item-name {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-bottom: 8px;
}

.portfolio-item-type {
  width: 100%;
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* For overlay */
.portfolio-overlay-card {
  position: relative;
  display: block;
  width: 100%;
  height: 280px;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  padding: 20px;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  padding: 40px 32px;
  background-color: var(--iris);
  color: var(--cloud);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-link:hover .portfolio-overlay,
.portfolio-card-link:focus .portfolio-overlay {
  transform: translateY(0);
}

/* Footer */
.footer-page {
  background: var(--navyblue);
  padding-top: var(--padding-section-mobile);
  padding-bottom: var(--padding-section-mobile);
}

.footer-page .container {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-mobile);
}

.footer-copyright-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: var(--gap-mobile);
  column-gap: 24px;
}

.footer-section-copyright {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

/* Footer Logo */
.footer-logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  display: inline-block;
  text-align: center;
}

.footer-logo-accent {
  font-family: Raleway, sans-serif;
  color: var(--cloud);
}

.footer-copyright-text {
  max-width: 365px;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}

/* Footer Social Media */
.footer-social-media {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.footer-social-media-title {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.footer-social-links {
  display: flex;
  justify-content: flex-start;
  column-gap: 16px;
  flex-shrink: 0;
}

.footer-social-icon-container {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
  fill: var(--cloud);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--green);
}

/* Subscribe */
.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  min-width: 288px;
  width: 100%;
}

.subscribe-title {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* subscribe-form  */

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
}

.subscribe-input-email {
  max-width: 365px;
  min-width: 288px;
  width: 100%;
  color: var(--white);
  background-color: transparent;
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid var(--white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscribe-input-email::placeholder {
  color: var(--white);
}

.subscribe-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--iris);
  color: var(--white);
  min-width: 165px;
  height: 40px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--ocean);
}

.subscribe-button:hover .button-icon,
.subscribe-button:focus .button-icon {
  fill: var(--white);
}

.button-icon {
  margin-left: 16px;
  fill: var(--cloud);
}

/* POINT - 1 */
@media (min-width: 320px) {
  .feature-card {
    width: calc((100% - 24px) / 2);
  }

  .team {
    row-gap: 64px;
  }

  .team-card {
    max-width: 264px;
    width: calc((100% - 24px) / 2);
  }

  .portfolio-overlay-card {
    height: 300px;
  }

  .portfolio-card {
    max-width: 356px;
    width: calc((100% - 24px) / 2);
  }
}

/* POINT 2 */
@media (min-width: 768px) {
  .feature-title {
    text-align: left;
  }

  .portfolio-card {
    max-width: 360px;
    min-width: 356px;
    width: calc((100% - 24px * 2) / 3);
    box-shadow: none;
  }

  .footer-copyright-text,
  .subscribe-input-email {
    max-width: 264px;
    min-width: 264px;
  }

  .subscribe,
  .subscribe-form,
  .footer-social-media,
  .footer-section-copyright,
  .footer-page .container {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .footer-page .container {
    padding-left: 120px;
  }
  .subscribe-form {
    flex-wrap: nowrap;
  }

  .footer-copyright-media {
    flex-wrap: nowrap;
  }
}

/* POINT 3 */
@media (min-width: 1158px) {
  .section-team,
  .section-features,
  .section-portfolio {
    padding: var(--padding-section-desktop) 0px;
  }

  .features,
  .team {
    flex-wrap: nowrap;
  }

  .feature-card {
    min-width: 264px;
    width: calc((100% - 24px * 3) / 4);
  }

  .feature-icon-container {
    display: flex;
  }

  .feature-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: none;
  }

  .feature-text {
    font-weight: 400;
  }
  .footer-page {
    padding: 100px 0;
  }

  .footer-page .container {
    flex-direction: row;
    align-items: baseline;
    column-gap: 0;
  }

  .footer-section-copyright {
    margin-right: 96px;
  }

  .footer-copyright-media {
    margin-right: 80px;
  }

  .footer-page .container {
    padding-left: 16px;
  }
}
